services:
  - type: web
    name: labos-expense-management
    env: python
    buildCommand: poetry install --no-root && cd frontend && npm ci && npm run build && rm -rf node_modules
    startCommand: poetry run gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.10
      - key: NODE_VERSION
        value: 18
    # Uncomment if you want to disable Poetry detection
    # plan: free

