services:
  - type: web
    name: labos-expense-management
    env: python
    buildCommand: poetry install --no-root && cd frontend && npm ci && npm run build && rm -rf node_modules
    startCommand: poetry run gunicorn --workers 4 --threads 2 --worker-class gthread app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.12.2
      - key: NODE_VERSION
        value: 22
    # Uncomment if you want to disable Poetry detection
    # plan: free

